.project-grid > :nth-child(1) {

}

.rdg-cell {
    outline: none;
}

.rdg-cell[aria-selected='true'] {
    box-shadow: none;
}

.rdg-row > :nth-child(2) {
    text-align: center;
}

.header-cell, .data-cell {
    width: 100%;
    height: 100%
}

.header-cell {
    text-align: center;
}

.header-cell > p, .data-cell > p {
    width: 100%
}

.text-align-right > p {
    text-align: right;
}

.rdg[role='grid'] {
    border: 0
}

.rdg-header-row {
    background-color: #f0f2f5;
}

.rdg-row-odd .rdg-cell { background-color: #f0f2f568; }
.rdg-row:hover .rdg-cell { background-color: #57596222; }

.rdg-cell[role='columnheader'] {
    border: 0
}