html {
    font-family: 'Montserrat', sans-serif;
}

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}

.header {
    border-radius: 10px;
}

#main-page {
    transition: width 1s;
}